body {
    margin: 0;
    padding: 0;
}


.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#imagen {
    width: 250px;
    height: 250px;
}

#boton {
    margin-top: 5px;
}